body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold; 
    padding-bottom: 20px;
    font-style: inherit;
    f
}

h3 {
    color: #66BFBF;
    font-family: 'Merriweather Sans', sans-serif;
}

p{
    line-height: 2;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}


.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.middle-container{
    margin: 100px 0;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}


.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.skill-row {
<<<<<<< HEAD
    width: 50%;
=======
    width: 40%;
>>>>>>> 36db8300575eb074183c31b14ba23ffbc7f4de75
    margin: 100px auto 100px auto;
    text-align: left;
   
}



.pro {
    text-decoration: underline;
}
.code-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chillie-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}


.intro{
    width: 30%;
    margin: auto;
    font-family: inherit;
    font-size: 1.2rem;
}


.contact-msg{
    width: 40%;
    margin: 40px auto 60px;
  }

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

    .btn:hover {
        background: #30e3cb;
        background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
        text-decoration: none;
    }

    .contact-me{
          font-weight: bold;
    }

    .footer-link{
        color: #11999E;
        padding: 20px 0;
        font-weight: Bold;

    }

    .copy-right{
        color: #EAF6F6;
        font-size: 0.75rem;
        padding: 20px 0;
    }









.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 60vh;
}

.card {
  width: 230px;
  height: 325px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  perspective: 1000px;
  transform: perspective(1000px) translateY(0);
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
}
.card.dark {
  background-color: #11999E;
  color: #fbfbfb;
}
.card.dark .purchase-button {
  border: 1px solid indianred;
}
.card.light {
  background-color: #fbfbfb;
  color: #272727;
}
.card.light .purchase-button {
  border: 1px solid indianred;
}

.card-container {
  display: flex;
}

.card-wrapper:hover .card {
  transform: rotateY(179deg);
  z-index: 2;
}
.card-wrapper:hover .card .text-overlay {
  opacity: 0;
  transform-style: preserve-3d;
  z-index: 1;
}
.card-wrapper:hover .card .purchase-button-container {
  opacity: 1;
}

.text-overlay {
  transform: perspective(1000px) translateY(0) translateZ(80px);
  transition: transform 0.8s ease-in-out, opacity 1s ease;
  pointer-events: none;
  width: 100%;
  perspective: inherit;
  padding-top: 50px;
}



h5 {
  font-size: 0.9rem;
  text-align: center;
  font-weight: 500;
}

.price {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 100;
  margin: 20px;
}

.purchase-button-container {
  color: indianred;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 0;
  top: 0;
  transform: perspective(1000px) rotateY(179deg) translateY(0) translateZ(80px);
  opacity: 0;
  z-index: -1;
  transition: transform 0.8s ease-in-out, opacity 1s ease;
  width: 100%;
  height: 100%;
}
.purchase-button-container .purchase-button {
  padding: 10px 40px;
  border-radius: 50px;
  font-size: 1.2rem;
  transition: background-color 0.25s ease, color 0.25s ease;
  cursor: pointer;
}
.purchase-button-container .purchase-button.light:hover {
  background-color: indianred;
  color: #fbfbfb;
}
.purchase-button-container .purchase-button.dark:hover {
  background-color: indianred;
  color: #272727;
}

.details-text {
  margin-top: 20px;
  display: flex;
  gap: 10px 10px;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 0.75rem;
}

small {
  font-size: 0.75rem;
  font-weight: 100;
  color: #858585;
}

.fa-solid {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.back-h2 {
  font-size: 2rem;
  margin-top: 0;
}

.lobo
{
    height: 80px;
    
}